/* s */
body {
  margin: 0px;
}
.nav {
  height: 80px;
  background-color: #dec0ff;
}
.container {
  margin: 0 auto;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}
.ul {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.li {
  list-style: none;
  color: none;
}
